/JavaApplication380/nbproject/private/
/JavaApplication380/build/
/Exercicio02/nbproject/private/
/Exercicio02/build/
/Exercicio03/nbproject/private/
/Exercicio03/build/
/Exercicio04/nbproject/private/
/Exercicio04/build/
/Exercicio05/nbproject/private/
/Exercicio05/build/
/Exercicio6/nbproject/private/
/Exercicio6/build/
/Exercicio07/nbproject/private/
/Exercicio07/build/
/Exercicio08/nbproject/private/
/Exercicio08/build/